.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

body {
  font-family: "Roboto", "Helvetica", "Arial", sans-serif;
  background-color: rgb(198, 212, 224);
  position: relative;
  margin: 0px;
  color: #282c34;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (max-width: 360px) {
  .MuiListItem-container .MuiListItem-secondaryAction {
    padding-right: 93px;
  }

  .MuiListItem-container .MuiListItem-secondaryAction .MuiListItemIcon-root{
    min-width: 45px;
  }
}

.top-container {
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 8px;
}

.title-content {
  width: unset;
  margin-bottom: 8px;
}

.MuiFormControl-root.input-searching {
  margin-right: 8px;
  margin-bottom: 8px;
}

.MuiFormControl-root.btn-add-task {
  margin-bottom: 8px;
}

@media (max-width: 600px) {
  .top-container{
    display: block;
    justify-content: unset
  }

  .title-content {
    width: 100%;
    text-align: center;
    padding-bottom: 8px;
  }

  .MuiFormControl-root.input-searching,
  .MuiFormControl-root.btn-add-task {
    margin-bottom: 8px;
  }

  .input-searching,
  .btn-add-task {
    width: 100%;
  }
}