@import "./node_modules/bootstrap/scss/functions";

$primary: #6100FF;
$dark: rgb(30, 23, 30);
$white: rgb(255, 255, 255);
$light: rgb(255, 253, 255);
$secondary: #FF9900;
$muted: rgb(125, 125, 133);

$theme-colors: (
    "primary": $primary,
    "dark": $dark,
    "light": $light,
    "secondary": $secondary
);

@import "./node_modules/bootstrap/scss/variables";
@import "./node_modules/bootstrap/scss/bootstrap";

html {
    scroll-behavior: duration(60000ms);
}

body {
    background: rgb(237, 241, 247);
}


.bg-custom-1 {
    background-image: linear-gradient(45deg, rgb(73 0 191) 10%, #6100FF);
}

.text-muted {
    color: $muted !important;
}

.divider-text {
    height: 300px;

    @extend .mt-5;
    @extend .p-5;
    @extend .d-flex;
    @extend .justify-content-start;
    @extend .align-items-center;

    .line {
        width: 300px;
        background-color: $muted;
        height: 1px;

        @extend .ms-4;
        @extend .text-muted;
    }
}

.animate-bg-1,
.animate-bg-2,
.animate-bg-3,
.animate-bg-4,
.animate-bg-5,
.animate-logo-1 {
    // margin-top: 50px;
    opacity: 0;

    &.animation-bg-faded {
        opacity: 1;
        // margin-top: 0px;
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
        transition-duration: 0.5s, 0.5s;
        transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1), cubic-bezier(0.645, 0.045, 0.355, 1);
        // transition-delay: 0.2s, 0.2s;
        transition-property: opacity, transform;
    }
}


.animate-box-9,
.animate-box-1,
.animate-box-2,
.animate-box-3,
.animate-box-4,
.animate-box-5,
.animate-box-6,
.animate-box-7,
.animate-box-8,
.title,
.desc {
    opacity: 0;
    margin-top: 10px;

    &.animation-faded {
        opacity: 1;
        margin-top: 0px;
        transform: matrix3d(1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1, 0, 0, 0, 0, 1);
        transition: opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s, transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;
        transition-duration: 0.5s, 0.5s;
        transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1), cubic-bezier(0.645, 0.045, 0.355, 1);
        // transition-delay: 0.2s, 0.2s;
        transition-property: opacity, transform, margin-top;
    }
}




.container-box {
    position: relative;
    display: block;
    min-height: 400px;



    @media (min-width: 990px) {
        padding-left: 50px;
        padding-right: 50px;
    }

}

.bg-img {
    height: 100%;
    width: 100%;
    background-image: url('./img/aizad.jpg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.font-monospace {
    font-size: .8rem !important;
}

.project-container {
    position: relative;
    min-height: 100vh;

    .card-code {
        background-color: $white;
        z-index: 10;
        min-height: 100px;
        font-size: .8rem;
        transition: all 0.25s cubic-bezier(0.645, 0.045, 0.355, 1) 0s,
            opacity 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s,
            transform 0.5s cubic-bezier(0.645, 0.045, 0.355, 1) 0.2s;


        @media (min-width: 990px) {
            opacity: 0;
            transition-delay: 400ms;

            &.is-right {
                transform: translateX(160px);
                width: calc(100% + 60px);
            }

            &.is-left {
                transform: translateX(-160px);
                width: calc(100% + 60px);
            }

            &.animated-in-right {
                opacity: 1;
                transform: translateX(-60px);
                animation: slide-in 200ms ease-in;
            }

            &.animated-out-right {
                opacity: 0;
                // transform: translateX(0px);
                animation: slide-out 200ms ease-out;
            }

            &.animated-in-left {
                opacity: 1;
                transform: translateX(0px);
                animation: slide-in-left 200ms ease-in;
            }

            &.animated-out-left {
                opacity: 0;
                transform: translateX(-60px);
                animation: slide-out-left 200ms ease-out;
            }

            @keyframes slide-in {
                from {
                    transform: translateX(0px);
                    opacity: 0
                }

                to {
                    transform: translateX(-60px);
                    opacity: 1;
                }
            }

            @keyframes slide-out {
                from {
                    transform: translateX(-60px);
                    opacity: 1;
                }

                to {
                    transform: translateX(0px);
                    opacity: 0
                }
            }

            @keyframes slide-in-left {
                from {
                    transform: translateX(-60px);
                    opacity: 0
                }

                to {
                    transform: translateX(0px);
                    opacity: 1;
                }
            }

            @keyframes slide-out-left {
                from {
                    transform: translateX(0px);
                    opacity: 1;
                }

                to {
                    transform: translateX(-60px);
                    opacity: 0
                }
            }
        }


        p {
            margin-bottom: .745rem;
        }
    }
}

.logo-container {
    position: relative;
    height: 30px;
    width: 30px;

    img {
        height: 100%;
    }
}

.carousel {
    @media (min-width: 990px) {
        opacity: .7;
        filter: blur(100);
        filter: grayscale(10);
        // transform: scale(1.1);
        transition: 1000ms ease-in-out;
        overflow: hidden;

        &:hover {
            filter: unset;
            opacity: 1;
            transform: scale(1);
        }
    }
}

.fs-10 {
    font-size: .65rem !important;
}