@import "../node_modules/bootstrap/scss/bootstrap";


body {
    background: rgb(237, 241, 247);
}

.bg-custom-1 {
    background-image: linear-gradient(45deg, rgb(177, 39, 177), rgb(71, 71, 190));
}


.container-box {
    position: relative;
    display: block;
    min-height: 400px;
    padding-left: 50px;
    padding-right: 50px;
}

.bg-img {
    height: 100%;
    width: 100%;
    background-image: url('./img/imgprofile.jpeg');
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}

.project-container {
    position: relative;
    min-height: 100vh;

    .card-code {
        font-size: .745rem !important;
        z-index: 2;
        left: -60px;
        min-height: 100px;
        width: calc(100% + 60px);


        p{
            margin-bottom: .745rem;
        }
    }
}